<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Vue.js Example</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 500px;
            /*height: 100%;*/
        }

        el-aside {
            color: #333;
        }

        el-table-column {
            text-align: center;
        }
        center-label {
            text-align: center;
        }
        label{
            font-size: 15px;
        }
        .float-div{
            float: left;
            margin-right: 20px;
        }
        .float-div2{
            float: left;
            margin-left: 100px;
        }


    </style>
</head>
<body>


<div id="app">
    <el-header style="text-align: right; font-size: 10px;">
        <el-tabs v-model="tabledata" type="border-card" @tab-click="handleTabClick">
            <el-tab-pane label="员工管理" name="manage" ></el-tab-pane>
            <el-tab-pane label="管控" name="control"></el-tab-pane>

            <span>欢迎，xx（工号：xxxxx）</span> <!-- 这里的xx和xxxxx应该由后端数据读取得到 -->
            <el-main v-if="showTable0" style="text-align: left;">
                <div class="float-div">
                    <h3>员工工号：</h3>
                    <el-input
                            placeholder="请输入员工工号"
                            v-model="employee.staffIdcard"
                            style="width: 200px">
                    </el-input>
                </div>
                <div class="float-div">
                    <h3>员工职务：</h3>
                    <el-input
                            placeholder="全部"
                            v-model="employee.staffPosition"
                            style="width: 200px">
                    </el-input>
                </div>
                <div class="float-div">
                    <h3>所属部门：</h3>
                    <el-input
                            placeholder="全部"
                            v-model="employee.staffAffiliatedUnit"
                            style="width: 200px">
                    </el-input>
                </div>
                <br/>
                <br/>
                <el-button type="primary" @click="searchEmployee()">查询</el-button>
                <el-button @click="reset()">重置</el-button>
                <el-button type="primary" @click="dialogVisible1 = true">添加</el-button>
                <el-dialog title="增添新员工" :visible.sync="dialogVisible1" :before-close="handleClose">
                    <div class="float-div">
                        <h3>工号：</h3>
                        <el-input
                                placeholder="请填写工号"
                                v-model="employee.staffIdcard"
                                style="width: 200px">
                        </el-input>
                    </div>
                    <div class="float-div">
                        <h3>员工姓名：</h3>
                        <el-input
                                placeholder="请填写员工姓名"
                                v-model="employee.staffName"
                                style="width: 200px">
                        </el-input>
                    </div>
                    <div style="clear: both;" class="float-div">
                        <h3>所属部门：</h3>
                        <el-select v-model="employee.staffAffiliatedUnit"
                                   placeholder="请选择所属部门"
                                   style="width: 200px">
                            <el-option
                                    v-for="item in options1"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="float-div">
                        <h3>手机：</h3>
                        <el-input
                                placeholder="请填写手机"
                                v-model="employee.staffPhone"
                                style="width: 300px">
                        </el-input>
                    </div>
                    <div style="clear: both;" >
                        <h3>当前职务</h3>
                        <el-select v-model="employee.staffPosition"
                                   placeholder="请选择当前职务"
                                   style="width: 200px">
                            <el-option
                                    v-for="item in options2"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible1 = false">取 消</el-button>
                        <el-button type="primary" @click="addEmployee">确 定</el-button>
                    </span>
                </el-dialog>
            </el-main>



            <el-table  v-if="showTable1" :data="tableData1" :columns="tableColumns">
                <el-table-column prop="staffName" label="员工姓名" width="100">
                </el-table-column>
                <el-table-column prop="staffAffiliatedUnit" label="所属部门" width="100">
                </el-table-column>
                <el-table-column prop="staffPosition" label="当前职务" width="100">
                </el-table-column>
                <el-table-column prop="staffIdcard" label="工号" width="160">
                </el-table-column>
                <el-table-column prop="staffPhone" label="手机" width="160">
                </el-table-column>
                <el-table-column prop="operation" :label-class-name="'center-label'" label="操作" width="250" >
                    <template slot-scope="scope">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <el-button type="primary"  @click="dialogVisible2= true" size="small">编辑</el-button>
                            <el-dialog title="编辑" :visible.sync="dialogVisible2" :before-close="handleClose">
                                <div class="float-div">
                                    <h3>员工姓名：</h3>
                                    <el-input
                                            v-model="employee.staffName"
                                            style="width: 200px">
                                    </el-input>
                                </div>
                                <div class="float-div">
                                    <h3>密码：</h3>
                                    <el-input
                                            v-model="employee.staffPassword"
                                            style="width: 300px">
                                    </el-input>
                                </div>
                                <div style="clear: both;" class="float-div">
                                    <h3>所属部门：</h3>
                                    <el-select v-model="employee.staffAffiliatedUnit"
                                               style="width: 200px">
                                        <el-option
                                                v-for="item in options1"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="float-div">
                                    <h3>手机：</h3>
                                    <el-input
                                            v-model="employee.staffPhone"
                                            style="width: 300px">
                                    </el-input>
                                </div>
                                <div style="clear: both;" >
                                    <h3>当前职务</h3>
                                    <el-select v-model="employee.staffPosition"
                                               style="width: 200px">
                                        <el-option
                                                v-for="item in options2"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </div>
                                <span slot="footer" class="dialog-footer">
                                        <el-button @click="dialogVisible2 = false">取 消</el-button>
                                        <el-button type="primary" @click="dialogVisible2 = false">确 定</el-button>
                                    </span>
                            </el-dialog>
                            <el-button type="info"  @click="match(scope.row.mainpower,scope.row.secondarypower)" size="small">权限</el-button>
                                <el-dialog title="权限设置" :visible.sync="dialogVisible" :before-close="handleClose">
                                    <h3>主权限设置：</h3>
                                    <div v-for="(item, index) in checkboxItems" :key="index" class="checkbox-item">
                                        <label class="checkbox">
                                            <input type="checkbox" :value="item.value" v-model="item.checked" @change="checkboxChange">{{item.value}}
                                        </label>
                                    </div>
                                    <h3>副权限设置：</h3>
                                    <div v-for="(item, index) in checkboxItems1" :key="index" class="checkbox-item">
                                        <label class="checkbox">
                                            <input type="checkbox" :value="item.value" v-model="item.checked" @change="checkboxChange1">{{item.value}}
                                        </label>
                                    </div>
                                    <span slot="footer" class="dialog-footer">
                                        <el-button @click="dialogVisible = false">取 消</el-button>
                                        <el-button type="primary" @click="updatePermissions">确 定</el-button>
                                    </span>
                                </el-dialog>
                            <el-button type="danger"  @click="handleMove(scope.row.visitorPhone)" size="small">删除</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>


            <el-main v-if="showTable4" style="text-align: left;">
                <div class="float-div">
                    <h2>设置管控时间段</h2>
                    <div class="float-div">
                        <h3>开始时间</h3>
                        <el-input type="datetime-local"
                                  v-model="visitor.startTime"
                                  style="width: 100px">
                        </el-input>
                    </div>
                    <div class="float-div">
                        <h3>结束时间</h3>
                        <el-input type="datetime-local"
                                  v-model="visitor.endTime"
                                  style="width: 100px">
                        </el-input>
                    </div>
                </div>

                <div style="clear: both;" class="float-div">
                    <h2>设置管控地点</h2>
                    <el-checkbox v-model="control.place1">仓库</el-checkbox>
                    <el-checkbox v-model="control.place2">办公大楼</el-checkbox>
                </div>
                <div style="clear: both;" class="float-div">
                    <h2>设置管控事件</h2>
                    <el-checkbox v-model="control.event1">参观（政府工作人员）</el-checkbox>
                    <el-checkbox v-model="control.event2">参观（供应商）</el-checkbox>
                    <el-checkbox v-model="control.event3">参观（家属）</el-checkbox>
                    <el-checkbox v-model="control.event4">施工</el-checkbox>
                    <el-checkbox v-model="control.event5">物流</el-checkbox>
                    <br/>
                    <el-checkbox v-model="control.event6">其他</el-checkbox>
                    <br/>
                    <br/>
                    <el-input
                            type="textarea"
                            :rows="2"
                            placeholder="请输入内容"
                            v-model="control.event7">
                    </el-input>
                </div>
                <br/>
                <div style="clear: both;" class="float-div2">
                    <br/>
                    <el-button type="primary"
                               style="display:block;
                               margin:0 auto"
                               round>添加</el-button>
                </div>
            </el-main>
        </el-tabs>
        <el-pagination v-if="pagin1"  @current-change="handlePageChange1" :current-page="page" :page-size="pageSize" :total="total"></el-pagination>
    </el-header>


</div>


</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tabname:'',
                showTable4:false,
                showTable1:true,
                showTable0:true,
                content1:"",
                dialogVisible:false,
                dialogVisible1:false,
                dialogVisible2:false,
                pagin1:false,
                mainpower: [],
                secondarypower:[],
                // staffInfo: null,
                selectedItems: [],
                selectedItems1: [],
                tableData:[],
                visitor: {
                    startTime: '',
                    endTime: ''
                },
                //分页数据
                page:1,
                pageSize: 8, // 每页显示的条数
                total:0,
                content: {
                    staffName: '',
                    staffPhone: '',
                    staffIdCard: '',
                    staffAffiliatedUnit: '',
                    staffPosition: '',
                    staffPassword: '',
                    UUID: '',
                    mainpower: '',
                    secondarypower:'',
                },
                inviter: {
                    reason: '',
                },
                employee:{
                    staffName: '',
                    staffPhone: '',
                    staffIdCard: '',
                    staffAffiliatedUnit: '',
                    staffPosition: '',
                    staffPassword: '',


                },

                checkboxItems: [
                    { value: "系统管理员", checked: false },
                    { value: "主管", checked: false },
                    // 添加其他复选框项...
                ],
                checkboxItems1: [
                    { value: "办公大楼", checked: false },
                    { value: "仓库", checked: false },
                    {value: "门岗", checked: false },

                    // 添加其他复选框项...
                ],

                permissions:{


                    event1:false,
                    event2:false,
                    event3:false,
                    event4:false,
                    event5:false,
                    event6:false,
                    event7:'',
        },
                control:{
                    place1:false,
                    place2:false,
                },
                //选项
                options1: [{
                    value: '人事部',
                    label: '人事部'
                }, {
                    value: '行政部',
                    label: '行政部'
                }, {
                    value: '市场部',
                    label: '市场部'
                    },
                ],
                options2: [{
                    value: '部门经理',
                    label: '部门经理'
                }, {
                    value: '部门员工',
                    label: '部门员工'
                },
                ],

            }
        },
        created() {
            const that = this;
            that.handleTabClick({ name: 'manage' });
        },
        methods: {
            searchEmployee() {
                // 构建请求数据
                this.getTableData(1);
            },
            handleUnreviewedClick: function ()
            {
                this.showTable = true;
                this.showTable1 = true;
            },
            //添加员工
            addEmployee() {

                const that = this;
                that.employee.staffPassword=that.employee.staffIdcard;
                // 发送POST请求添加员工信息
                axios.post('/addstaff', this.employee)
                    .then(response => {
                        // 处理添加成功的逻辑
                        console.log(response.data);
                        that.getTableData(1);
                        // 关闭弹窗
                        this.dialogVisible1 = false;

                    })
                    .catch(error => {
                        // 处理添加失败的逻辑
                        console.error(error);
                    });
            },
            //重置查询
            reset(){
                this.employee.staffIdcard = '';
                this.employee.staffPosition = '';
                this.employee.staffAffiliatedUnit = '';
            },
            matchMainpower(main) {
                const mainpower = main;
                this.checkboxItems.forEach((checkboxItem) => {
                    if (mainpower.includes(checkboxItem.value)) {
                        this.$set(checkboxItem, 'checked', true);
                    }
                });
            },
            matchsecondarypower(second) {
                const secondarypower = second;
                this.checkboxItems1.forEach((checkboxItem) => {
                    if (secondarypower.includes(checkboxItem.value)) {
                        this.$set(checkboxItem, 'checked', true);
                    }
                });
            },
            //获取到这一行的信息
            match(main,second){
                this.dialogVisible = true;
                //清空选项
                this.checkboxItems.forEach((checkboxItem) => {
                    this.$set(checkboxItem, 'checked', false);
                });
                this.checkboxItems1.forEach((checkboxItem) => {
                    this.$set(checkboxItem, 'checked', false);
                });
                console.log(main,second);
                this.matchMainpower(main);
                this.matchsecondarypower(second);
            },
            //修改权限
            checkboxChange(e) {
                this.checkboxItems.forEach((checkboxItem) => {
                    if (checkboxItem.checked) {
                        this.mainpower.push(checkboxItem.value);
                    }
                    else {
                        this.mainpower.splice(this.mainpower.indexOf(checkboxItem.value), 1);
                    }
                });
                this.mainpower = Array.from(new Set(this.mainpower));
                const mainpowerString = this.mainpower.join(', '); // 使用逗号将数组元素连接起来
                console.log(mainpowerString);
            },
            checkboxChange1(e) {
                this.checkboxItems1.forEach((checkboxItem) => {
                    if (checkboxItem.checked) {
                        this.secondarypower.push(checkboxItem.value);
                    }
                    else {
                        this.secondarypower.splice(this.mainpower.indexOf(checkboxItem.value), 1);
                    }
                });
                this.secondarypower = Array.from(new Set(this.secondarypower));
                const secondarypowerString = this.secondarypower.join(', '); // 使用逗号将数组元素连接起来
                console.log(secondarypowerString);
            },
            //查看原有信息
            show() {
                console.log(this.staffInfo.someCondition);
                this.$axios.get('/staffinfo', { params: { StaffIdcard: 'your_staff_id' } })
                    .then(response => {
                        this.staffInfo = response.data;
                        // 根据后端数据设置多选框选中状态
                        this.permissions.checked1 = this.staffInfo.someCondition;
                        this.permissions.checked2 = this.staffInfo.someOtherCondition;
                        // 设置其他权限选项的选中状态
                        // 显示权限设置对话框
                        this.dialogVisible = true;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },

            //删除信息


            handleReviewedClick() {
                // 处理已审核记录标签页点击事件
                console.log('已审核记录标签页被点击了');
            },
            handleTabClick(tab,event) {
                console.log(tab, event);//xx
                if (tab.name === 'manage') {
                    this.tabname=tab.name;
                    this.showTable0 = true;
                    this.showTable4 = false;
                    this.showTable1 = true;
                    this.pagin1=true;
                    this.getTableData(1);
                } else if (tab.name === 'control') {
                    this.tabname=tab.name;
                    this.showTable4 = true;
                    this.showTable1 = false;
                    this.showTable0 = false;
                    this.pagin1=false;
                }
            },
            //后端获取数据
            handlePageChange1(page) {
                this. getTableData(page);
            },


            getTableData(page) {
                const that = this;
                const filter = {
                    staffIdcard:this.employee.staffIdcard,
                    staffPosition:this.employee.staffPosition,
                    staffAffiliatedUnit:this.employee.staffAffiliatedUnit,
                };
                const page1 = page-1; // 可选，根据你的需求设置
                const pageSize = 8; // 可选，根据你的需求设置

                // 发送 POST 请求
                axios.post('/staffsearch?page=' + page1 + '&pageSize=' + pageSize , filter)
                    .then(response => {
                        // 请求成功的处理
                        console.log(response.data);
                        this.tableData1 = response.data.content;
                        this.page=page;
                        this.total = response.data.totalElements;

                    })
                    .catch(error => {
                        // 请求失败的处理
                        console.error(error);
                    });
            },
            created() {
                this.getTableData();
            },
            //编辑窗口关闭按钮

            handleClose(done){
                this.$confirm('确定关闭吗').then(() => {
                    // function(done)，done 用于关闭 Dialog
                    done();


                    console.info("点击右上角 'X' ，取消按钮或遮罩层时触发");
                }).catch(() => {

                    console.log("点击确定时触发");
                });
        }}

    });

</script>
</html>