<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Vue.js Example</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 500px;
            /*height: 100%;*/
        }

        el-aside {
            color: #333;
        }

        el-table-column {
            text-align: center;
        }
        center-label {
            text-align: center;
        }
        label{
            font-size: 15px;
        }
        .float-div{
            float: left;
            margin-right: 20px;
        }


    </style>
</head>
<body>


<div id="app">


    <el-header style="text-align: right; font-size: 10px;">
        <el-tabs v-model="tabledata" type="border-card" @tab-click="handleTabClick">
            <el-tab-pane label="我要邀请" name="invite" ></el-tab-pane>
            <el-tab-pane label="邀请审批" name="approval"></el-tab-pane>

            <span>欢迎，xx（工号： {{ storedUsername }}）</span> <!-- 这里的xx和xxxxx应该由后端数据读取得到 -->
            <el-main v-if="showTable" style="text-align: left;">
                <div class="float-div">
                    <h2>访客姓名：</h2>
                    <el-input
                            placeholder="请输入姓名"
                            v-model="visitor.inviterName"
                            style="width: 400px">
                    </el-input>
                </div>
                <div class="float-div">
                    <h2>联系方式：</h2>
                    <el-input
                            placeholder="请输入访客联系方式"
                            v-model="visitor.inviterPhone"
                            style="width: 400px">
                    </el-input>
                </div>
                <br/>
                <div style="clear: both;"class="top">
                    <h2>所属单位：</h2>
                    <el-input
                            placeholder="请输入访客所属单位"
                            v-model="visitor.inviterCompany"
                            style="width: 600px">
                    </el-input>
                </div>
                <br/>
                <div>
                    <h2>访客预约时间：</h2>
                    <el-date-picker
                            v-model="visitor.visitDate"
                            type="date"
                            placeholder="选择日期"
                            style="width: 200px">
                    </el-date-picker>
                </div>
                <br/>
                <div>
                    <h2>邀约事由：</h2>
                    <el-input
                            placeholder="请输入内容"
                            v-model="inviter.reason">
                    </el-input>
                </div>
                <br/>
                <el-button type="primary" style="display:block;margin:0 auto"  @click="submitForm" round>提交</el-button>
<!--                <button>提交</button>-->
            </el-main>

            <el-table  v-if="showTable1" :data="tableData1" :columns="tableColumns">
                <el-table-column prop="inviterName" label="访客姓名" width="100">
                </el-table-column>
                <el-table-column prop="inviterPhone" label="联系方式" width="160">
                </el-table-column>
                <el-table-column prop="inviterCompany" label="所属单位" width="100">
                </el-table-column>
                <el-table-column prop="Inviter" label="邀请人" width="100">
                </el-table-column>
                <el-table-column prop="Department" label="部门" width="100">
                </el-table-column>
                <el-table-column prop="Posts" label="职位" width="100">
                </el-table-column>
                <el-table-column prop="visitDate" label="访问时间" width="160">
                </el-table-column>
                <el-table-column prop="operation" :label-class-name="'center-label'" label="操作" width="150" >
                    <template slot-scope="scope">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <el-button type="primary" icon="el-icon-close" @click="inviteapprove(scope.row.inviterPhone)" size="small">批准</el-button>
                            <el-button type="danger" icon="el-icon-check" @click="inviterefuse(scope.row.inviterPhone)" size="small">驳回</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-tabs>
        <el-pagination v-if="pagin1"  @current-change="handlePageChange1" :current-page="page" :page-size="pageSize" :total="total"></el-pagination>

    </el-header>


</div>


</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tabname:'',
                showTable:true ,
                content:"",
                content1:"",
                dialogVisible:false,
                dialogVisible1:false,
                storedUsername:localStorage.getItem('username'),
                pagin:false,
                pagin1:false,
                pagin2:false,
                tableData:[],
                tableData1:[],
                tableData2:[],
                //分页数据
                pageSize: 4, // 每页显示的条数
                total:0,

                visitor: {
                    inviterName: '',
                    inviterPhone: '',
                    inviterCompany:'',
                    visitDate: '',
                    reason:'',
                },
                inviter: {
                    reason: '',
                },

            }
        },
        methods: {
            inviteapprove(inviterPhone){
             //前端批准邀约方法
                axios.get('/invitevet', {
                    params: {
                        inviterPhone: inviterPhone,
                        edit: this.storedUsername,
                    }
                })
                    .then(response => {
                        // 处理从服务器返回的成功响应
                        console.log( response.data);
                        if (response.data==="审核成功")
                            alert("操作成功");
                        else
                            alert("权限不足");
                    })
                    .catch(error => {
                        // 处理错误
                        console.error( error);
                        // 你可以在此处理不同的错误响应，比如 '权限不足'
                    });

            },
            inviterefuse(inviterPhone){
                //前端驳回邀约方法
                axios.get('/inviterefuse', {
                    params: {
                        inviterPhone: inviterPhone,
                        edit: this.storedUsername,
                    }
                })
                    .then(response => {
                        // 处理从服务器返回的成功响应
                        console.log( response.data);
                        if (response.data==="审核成功")
                            alert("操作成功");
                        else
                            alert("权限不足");
                    })
                    .catch(error => {
                        // 处理错误
                        console.error(error);
                        // 你可以在此处理不同的错误响应，比如 '权限不足'
                    });

            },

            async submitForm() {
                try {
                    const response = await axios.post('/invite', {
                        inviterPhone: this.visitor.inviterPhone, // 提交访客的联系方式
                        // 其他表单数据按照后端的字段名进行对应
                        inviterName: this.visitor.inviterName,
                        inviterCompany: this.visitor.inviterCompany,
                        visitDate: this.visitor.visitDate,
                        reason: this.inviter.reason
                    });
                    console.log(response.data); // 在控制台中输出后端返回的数据
                    // 处理响应，例如更新前端的状态信息等
                } catch (error) {
                    console.error('提交表单出错：', error);
                    // 处理错误，例如显示错误消息给用户
                }
            },
            handleUnreviewedClick: function ()
            {
                this.showTable = true;
                this.showTable1 = true;
            },
            handleCheck1(visitorPhone){
                //黑名单中查看方法
                this.dialogVisible1 = true;
                axios.get('/blockinfo', {
                    params: {
                        visitorPhone: visitorPhone
                    }
                })
                    .then(response => {
                        this.content1 = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            handleMove(visitorPhone) {
                //黑名单移除方法
                axios.get('/removeblock', {
                    params: {
                        visitorPhone: visitorPhone
                    }
                })
                    .then(response => {
                        this.content = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            handleCheck(visitorPhone) {
                //查看访客操作
                this.dialogVisible = true;
                // console.log(dialogVisible)
                axios.get('/findinfo', {
                    params: {
                        visitorPhone: visitorPhone
                    }
                })
                    .then(response => {
                        this.content = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            handleReviewedClick() {
                // 处理已审核记录标签页点击事件
                console.log('已审核记录标签页被点击了');
            },
            handleBlacklistClick() {
                // 处理黑名单标签页点击事件
                console.log('黑名单标签页被点击了');
            },
            handleApprove(visitorPhone) {
                // console.log('批准点击，访客电话:', visitorPhone);

                // 在这里可以使用点击行的数据，例如将其发送到API，更新Vuex存储等

                axios.get('/vet', {

                    params: {
                        visitorPhone:visitorPhone
                    }
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },
            handleReject(visitorPhone) {
                // 拒绝操作的逻辑
                axios.get('/refuse', {

                    params: {
                        visitorPhone:visitorPhone
                    }
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },
            handleDelay(row) {
                // 延期操作的逻辑
            },
            handleBlacklist(row) {
                function getCurrentFormattedTime() {
                    const currentDate = new Date();
                    const year = currentDate.getFullYear();
                    const month = currentDate.getMonth() + 1;
                    const day = currentDate.getDate();
                    const hours = currentDate.getHours();
                    const minutes = currentDate.getMinutes();
                    const seconds = currentDate.getSeconds();

                    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                }
                const blocktime = getCurrentFormattedTime();

                // 拉黑操作的逻辑
                axios.post('/block', {
                    visitorPhone: row.visitorPhone,
                    visitorName: row.visitorName,
                    affiliatedUnit: row.affiliatedUnit,
                    blocktime: blocktime,
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },
            handleTabClick(tab,event) {
                console.log(tab, event);//xx
                if (tab.name === 'invite') {
                    this.tabname=tab.name;
                    this.showTable = true;
                    this.showTable1 = false;
                    this.pagin1=false;

                } else if (tab.name === 'approval') {
                    this.tabname=tab.name;
                    this.showTable = false;
                    this.showTable1 = true;
                    this.pagin1=true;
                    this.getTableData(this.tabname);

                }
            },
            //后端获取数据
            handlePageChange(page) {
                this.getTableData(this.tabname,page);
            },
            handlePageChange1(page) {
                this. getBlockTableData(page);
            },
            handlePageChange2(page) {
                this.getTableData(this.tabname,page);
            },
            getTableData(tabname) {
                axios.get('/inviteall')
                    .then(response => {
                            // 处理响应数据
                            console.log(response.data);
                        var tableData = response.data.filter(item => item.status === '未处理');
                        tableData.forEach(item => {
                            const date = new Date(item.visitDate);
                            item.visitDate = date.toISOString().split('T')[0]; // 仅保留年月日部分
                        });
                        if(tabname==='invite') {
                            this.tableData = '';
                        }
                        else if(tabname==='approval') {
                            this.tableData1 = tableData;
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            created() {
                this.getTableData();
            },

        }

    });

</script>
</html>