<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Vue.js Example2</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 500px;
            /*height: 100%;*/
        }

        el-aside {
            color: #333;
        }

        el-table-column {
            text-align: center;
        }
        center-label {
            text-align: center;
        }
        label{
            font-size: 15px;
        }
    </style>
</head>
<body>


<div id="app">


    <el-header style="text-align: right; font-size: 10px;">
        <el-tabs v-model="tabledata" type="border-card" @tab-click="handleTabClick">
            <el-tab-pane label="信息管理" name="MessageM" ></el-tab-pane>

            <span>欢迎，xx（工号：xxxxx）</span> <!-- 这里的xx和xxxxx应该由后端数据读取得到 -->

            <el-table  v-if="showTable" :data="tableData" :columns="tableColumns">
                <el-table-column prop="number" label="访问序号" width="100">
                </el-table-column>
                <el-table-column prop="messageClassify" label="短信分类" width="100">
                </el-table-column>
                <el-table-column prop="messageContent" label="内容" width="250">
                </el-table-column>
                <el-table-column prop="Phone" label="手机号" width="160">
                </el-table-column>
                <el-table-column prop="sendTime" label="发送时间" width="160">
                </el-table-column>

                <el-table-column prop="operation" :label-class-name="'center-label'" label="操作" width="100" >
                    <template slot-scope="scope">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <el-button type="primary" icon="el-icon-check" @click="handleCheck(scope.row.visitorPhone)" size="small">查看</el-button>

                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-tabs>
        <el-pagination v-if="pagin1"  @current-change="handlePageChange1" :current-page="page" :page-size="pageSize" :total="total"></el-pagination>
    </el-header>


</div>


</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tabname:'',
                showTable:true ,


                content:"",
                content1:"",
                dialogVisible:false,
                dialogVisible1:false,
                pagin1:false,

                tableData:[],
                tableData1:[],
                tableData2:[],
                //分页数据
                pageSize: 4, // 每页显示的条数
                total:0,

                visitor: {
                    name: '',
                    phone: '',
                    reason: '',
                    department: '',
                    inviter: '',
                    startTime: '',
                    endTime: ''
                },

            }
        },
        methods: {
            handleUnreviewedClick: function ()
            {
                this.showTable = true;
                this.showTable1 = true;
            },

            handleCheck(visitorPhone) {
                //查看访客操作
                this.dialogVisible = true;
                // console.log(dialogVisible)
                axios.get('/findinfo', {
                    params: {
                        visitorPhone: visitorPhone
                    }
                })
                    .then(response => {
                        this.content = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            handleReviewedClick() {
                // 处理已审核记录标签页点击事件
                console.log('已审核记录标签页被点击了');
            },
            handleBlacklistClick() {
                // 处理黑名单标签页点击事件
                console.log('黑名单标签页被点击了');
            },
            handleApprove(visitorPhone) {
                // console.log('批准点击，访客电话:', visitorPhone);

                // 在这里可以使用点击行的数据，例如将其发送到API，更新Vuex存储等

                axios.get('/vet', {

                    params: {
                        visitorPhone:visitorPhone
                    }
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },
            handleReject(visitorPhone) {
                // 拒绝操作的逻辑
                axios.get('/refuse', {

                    params: {
                        visitorPhone:visitorPhone
                    }
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },
            handleDelay(row) {
                // 延期操作的逻辑
            },
            handleBlacklist(row) {
                function getCurrentFormattedTime() {
                    const currentDate = new Date();
                    const year = currentDate.getFullYear();
                    const month = currentDate.getMonth() + 1;
                    const day = currentDate.getDate();
                    const hours = currentDate.getHours();
                    const minutes = currentDate.getMinutes();
                    const seconds = currentDate.getSeconds();

                    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                }
                const blocktime = getCurrentFormattedTime();

            },
            handleTabClick(tab,event) {
                console.log(tab, event);//xx
                if (tab.name === 'MessageM') {
                    this.tabname=tab.name;
                    // this.showTable0 = true;
                    this.showTable = true;
                    this.pagin1=true;
                    this.getTableData(this.tabname,1);

                }
            },
            //后端获取数据
            handlePageChange(page) {
                this.getTableData(this.tabname,page);
            },
            handlePageChange1(page) {
                this. getBlockTableData(page);
            },
            handlePageChange2(page) {
                this.getTableData(this.tabname,page);
            },
            getTableData(tabname,page) {
                axios
                    .get('/pagesallinfo', {
                        params: {
                            page: page - 1,
                            pageSize: this.pageSize,
                            status:tabname,
                        }
                    })
                    .then(response => {
                        var tableData = response.data.content;
                        if(tabname==='MessageM') {
                            this.tableData = tableData;
                        }
                        this.total = response.data.totalElements;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            created() {
                this.getTableData();
            },
            getBlockTableData(page) {
                axios
                    .get('/pagesblockall', {
                        params: {
                            page: page-1,
                            pageSize: this.pageSize,
                        }
                    })
                    .then(response => {
                        var tableData = response.data.content;
                        this.tableData2=tableData;
                        this.total = response.data.totalElements;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
        }

    });

</script>
</html>