<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Vue.js Example</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 500px;
            /*height: 100%;*/
        }

        el-aside {
            color: #333;
        }

        el-table-column {
            text-align: center;
        }
        center-label {
            text-align: center;
        }
        label{
            font-size: 15px;
        }
    </style>
</head>
<body>


<div id="app">


    <el-header style="text-align: right; font-size: 10px;">
        <el-tabs v-model="tabledata" type="border-card" @tab-click="handleTabClick">
            <el-tab-pane label="即将来访" name="coming" ></el-tab-pane>
            <el-tab-pane label="访问中" name="accessing"></el-tab-pane>
            <el-tab-pane label="历史记录" name="history"></el-tab-pane>

            <span>欢迎，xx（工号：xxxxx）</span> <!-- 这里的xx和xxxxx应该由后端数据读取得到 -->
            <el-main v-if="showTable0" style="text-align: left;">
                <label>访客姓名：<input v-model="visitor.name" /></label>
                <label>访客手机：<input v-model="visitor.phone" /></label>
                <label>访客事由：<input v-model="visitor.reason" /></label><br/>
                <label>访客部门：<input v-model="visitor.department" /></label>
                <label>邀 约 人 ：<input v-model="visitor.inviter" /></label>
                <label>访客时间：
                    <input type="datetime-local" v-model="visitor.startTime" />
                    至
                    <input type="datetime-local" v-model="visitor.endTime" />
                </label><br/>
                <button>搜索</button>
            </el-main>

            <el-table  v-if="showTable" :data="tableData" :columns="tableColumns">
                <el-table-column prop="number" label="访问序号" width="100">
                </el-table-column>
                <el-table-column prop="visitorName" label="访客姓名" width="100">
                </el-table-column>
                <el-table-column prop="visitorPhone" label="访客电话" width="160">
                </el-table-column>
                <el-table-column prop="Affiliation" label="所属单位" width="100">
                </el-table-column>
                <el-table-column prop="Operator" label="操作员" width="100">
                </el-table-column>
                <el-table-column prop="Number" label="车牌号" width="100">
                </el-table-column>
                <el-table-column prop="arrivetime" label="预约时间" width="160">
                </el-table-column>
                <el-table-column prop="applicationStatus" label="访问状态" width="80">
                </el-table-column>
                <el-table-column prop="operation" :label-class-name="'center-label'" label="操作" width="100" >
                    <template slot-scope="scope">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <el-button type="primary" icon="el-icon-check" @click="handleCheck(scope.row.visitorPhone)" size="small">查看</el-button>
                            <el-dialog :visible.sync="dialogVisible" width="60%" >
                                <div>
                                    <div style="display: flex; justify-content: center;">
                                        <img src="/static/img/portrait.jpeg" style="width: 100px; height: 100px;">
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 25%;">
                                            <strong>访客姓名：</strong> {{ content.visitorName }}
                                          </span>
                                        <span style="display: inline-block; width: 30%;">
                                            <strong>随行人数：</strong> {{ content.elsepeople }}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>状态：</strong> {{ content.applicationStatus }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 30%;">
                                            <strong>所属公司：</strong> {{ content.affiliatedUnit}}
                                          </span>
                                        <span style="display: inline-block; width: 30%;">
                                            <strong>物流单号：</strong> {{ content.logisticsnum}}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>运送物品：</strong> {{ content.goods }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 30%;">
                                            <strong>入园事由 ：</strong> {{ content.visitreason }}
                                          </span>
                                        <span style="display: inline-block; width: 45%;">
                                            <strong>访问区域：</strong> {{ content.visitAreas }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 40%;">
                                            <strong>联系方式：</strong> {{ content.visitorPhone}}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>车牌号：</strong> {{ content.licensePlate }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 20%;">
                                            <strong>邀约人：</strong> {{ content.inviter}}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>停靠车位：</strong> {{ content.parkingSpace }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 40%;">
                                            <strong>证件号：</strong> {{ content.idcard}}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>管控：</strong> {{ content.licensePlate }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 20%;">
                                            <strong>预计到达时间：</strong> {{ content.arrivedate }} {{ content.arrivetime }}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>访问时长：</strong> <span>{{ content.visitDuration }}</span> h
                                          </span>
                                    </div>
                                    <el-divider></el-divider>
                                    <div style="display: flex; justify-content: center;">
                                        <el-button class="cancel-button" @click="dialogVisible = false">取消</el-button>
                                    </div>

                                </div>
                            </el-dialog>





                        </div>
                    </template>
                </el-table-column>
            </el-table>

                <el-table  v-if="showTable1" :data="tableData1" :columns="tableColumns">
                    <el-table-column prop="number" label="访问序号" width="100">
                    </el-table-column>
                    <el-table-column prop="visitorName" label="访客姓名" width="100">
                    </el-table-column>
                    <el-table-column prop="visitorPhone" label="访客电话" width="160">
                    </el-table-column>
                    <el-table-column prop="Affiliation" label="所属单位" width="100">
                    </el-table-column>
                    <el-table-column prop="Operator" label="操作员" width="100">
                    </el-table-column>
                    <el-table-column prop="Number" label="车牌号" width="100">
                    </el-table-column>
                    <el-table-column prop="arrivetime" label="预约时间" width="160">
                    </el-table-column>
                    <el-table-column prop="applicationStatus" label="访问状态" width="80">
                    </el-table-column>
                    <el-table-column prop="operation" :label-class-name="'center-label'" label="操作" width="100" >
                        <template slot-scope="scope">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <el-button type="primary" icon="el-icon-check" @click="handleCheck(scope.row.visitorPhone)" size="small">查看</el-button>
                                <el-dialog :visible.sync="dialogVisible" width="60%" >
                                    <div>
                                        <div style="display: flex; justify-content: center;">
                                            <img src="/static/img/portrait.jpeg" style="width: 100px; height: 100px;">
                                        </div>
                                        <div>
                                          <span style="display: inline-block; width: 25%;">
                                            <strong>访客姓名：</strong> {{ content.visitorName }}
                                          </span>
                                            <span style="display: inline-block; width: 30%;">
                                            <strong>随行人数：</strong> {{ content.elsepeople }}
                                          </span>
                                            <span style="display: inline-block; width: 20%;">
                                            <strong>状态：</strong> {{ content.applicationStatus }}
                                          </span>
                                        </div>
                                        <div>
                                          <span style="display: inline-block; width: 30%;">
                                            <strong>所属公司：</strong> {{ content.affiliatedUnit}}
                                          </span>
                                            <span style="display: inline-block; width: 30%;">
                                            <strong>物流单号：</strong> {{ content.logisticsnum}}
                                          </span>
                                            <span style="display: inline-block; width: 20%;">
                                            <strong>运送物品：</strong> {{ content.goods }}
                                          </span>
                                        </div>
                                        <div>
                                          <span style="display: inline-block; width: 30%;">
                                            <strong>入园事由 ：</strong> {{ content.visitreason }}
                                          </span>
                                            <span style="display: inline-block; width: 45%;">
                                            <strong>访问区域：</strong> {{ content.visitAreas }}
                                          </span>
                                        </div>
                                        <div>
                                          <span style="display: inline-block; width: 40%;">
                                            <strong>联系方式：</strong> {{ content.visitorPhone}}
                                          </span>
                                            <span style="display: inline-block; width: 20%;">
                                            <strong>车牌号：</strong> {{ content.licensePlate }}
                                          </span>
                                        </div>
                                        <div>
                                          <span style="display: inline-block; width: 20%;">
                                            <strong>邀约人：</strong> {{ content.inviter}}
                                          </span>
                                            <span style="display: inline-block; width: 20%;">
                                            <strong>停靠车位：</strong> {{ content.parkingSpace }}
                                          </span>
                                        </div>
                                        <div>
                                          <span style="display: inline-block; width: 40%;">
                                            <strong>证件号：</strong> {{ content.idcard}}
                                          </span>
                                            <span style="display: inline-block; width: 20%;">
                                            <strong>管控：</strong> {{ content.licensePlate }}
                                          </span>
                                        </div>
                                        <div>
                                          <span style="display: inline-block; width: 20%;">
                                            <strong>预计到达时间：</strong> {{ content.arrivedate }} {{ content.arrivetime }}
                                          </span>
                                            <span style="display: inline-block; width: 20%;">
                                            <strong>访问时长：</strong> <span>{{ content.visitDuration }}</span> h
                                          </span>
                                        </div>
                                        <el-divider></el-divider>
                                        <div style="display: flex; justify-content: center;">
                                            <el-button class="cancel-button" @click="dialogVisible = false">取消</el-button>
                                        </div>

                                    </div>
                                </el-dialog>

                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </el-table>
            <el-table v-if="showTable2" :data="tableData2" :columns="tableColumns">
                <el-table-column prop="number" label="访问序号" width="100">
                </el-table-column>
                <el-table-column prop="visitorName" label="访客姓名" width="100">
                </el-table-column>
                <el-table-column prop="visitorPhone" label="访客电话" width="160">
                </el-table-column>
                <el-table-column prop="Affiliation" label="所属单位" width="100">
                </el-table-column>
                <el-table-column prop="Operator" label="操作员" width="100">
                </el-table-column>
                <el-table-column prop="Number" label="车牌号" width="100">
                </el-table-column>
                <el-table-column prop="arrivetime" label="预约时间" width="160">
                </el-table-column>
                <el-table-column prop="applicationStatus" label="访问状态" width="80">
                </el-table-column>
                <el-table-column prop="operation" :label-class-name="'center-label'" label="操作" width="150" >
                    <template slot-scope="scope">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <el-button type="danger" icon="el-icon-close" @click="handleCheck(scope.row.visitorPhone)" size="small">查看</el-button>
                            <el-dialog :visible.sync="dialogVisible" width="60%" >
                                <div>
                                    <div style="display: flex; justify-content: center;">
                                        <img src="/static/img/portrait.jpeg" style="width: 100px; height: 100px;">
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 25%;">
                                            <strong>访客姓名：</strong> {{ content.visitorName }}
                                          </span>
                                        <span style="display: inline-block; width: 30%;">
                                            <strong>随行人数：</strong> {{ content.elsepeople }}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>状态：</strong> {{ content.applicationStatus }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 30%;">
                                            <strong>所属公司：</strong> {{ content.affiliatedUnit}}
                                          </span>
                                        <span style="display: inline-block; width: 30%;">
                                            <strong>物流单号：</strong> {{ content.logisticsnum}}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>运送物品：</strong> {{ content.goods }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 30%;">
                                            <strong>入园事由 ：</strong> {{ content.visitreason }}
                                          </span>
                                        <span style="display: inline-block; width: 45%;">
                                            <strong>访问区域：</strong> {{ content.visitAreas }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 40%;">
                                            <strong>联系方式：</strong> {{ content.visitorPhone}}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>车牌号：</strong> {{ content.licensePlate }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 20%;">
                                            <strong>邀约人：</strong> {{ content.inviter}}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>停靠车位：</strong> {{ content.parkingSpace }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 40%;">
                                            <strong>证件号：</strong> {{ content.idcard}}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>管控：</strong> {{ content.licensePlate }}
                                          </span>
                                    </div>
                                    <div>
                                          <span style="display: inline-block; width: 20%;">
                                            <strong>预计到达时间：</strong> {{ content.arrivedate }} {{ content.arrivetime }}
                                          </span>
                                        <span style="display: inline-block; width: 20%;">
                                            <strong>访问时长：</strong> <span>{{ content.visitDuration }}</span> h
                                          </span>
                                    </div>
                                    <el-divider></el-divider>
                                    <div style="display: flex; justify-content: center;">
                                        <el-button class="cancel-button" @click="dialogVisible = false">取消</el-button>
                                    </div>

                                </div>
                            </el-dialog>
                            <el-button type="primary" icon="el-icon-check" @click="handleDelete(scope.row.visitorPhone)" size="small">删除</el-button>
                        </div>
                    </template>
                </el-table-column>

            </el-table>
        </el-tabs>
        <el-pagination v-if="pagin1"  @current-change="handlePageChange1" :current-page="page" :page-size="pageSize" :total="total"></el-pagination>
        <el-pagination v-if="pagin2"  @current-change="handlePageChange2" :current-page="page1" :page-size="pageSize" :total="total"></el-pagination>
        <el-pagination v-if="pagin"  @current-change="handlePageChange" :current-page="page" :page-size="pageSize" :total="total"></el-pagination>
    </el-header>


</div>


</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tabname:'',
                showTable0:true ,
                showTable:true ,
                showTable1:false ,
                showTable2:false,

                content: {
                    visitorName: '',
                    affiliatedUnit: '',
                    accessDetails: '',
                    visitreason: '',
                    visitorPhone: '',
                    inviter: '',
                    logisticsnum: '',
                    visitAreas: '',
                    licensePlate: '',
                    parkingSpace: '',
                    blacklist: '',
                    idcard:'',
                    arrivetime:'',
                    lefttime:'',
                    elsepeople:'',
                    goods:'',
                    visitDuration:'',
                    areasToUpdate: {
                        warehouse: false,
                        dock: false,
                        officeBuilding: false,
                        labControlled: false,
                        researchCenter: false,
                        productionArea: false,
                    },},
                content1:{
                    visitorName: '',
                    affiliatedUnit: '',
                    blockreason:'',
                    blocktime:'',
                    blockpeople:'',

                },
                dialogVisible:false,
                dialogVisible1:false,
                pagin:false,
                pagin1:false,
                pagin2:false,
                /*   tableData: [
                       { number: '',
                           visitplace: '',
                           visitreason: '' },

                    ],*/
                tableData:[],
                tableData1:[],
                tableData2:[],
                //分页数据
                pageSize: 4, // 每页显示的条数
                total:0,

                visitor: {
                    name: '',
                    phone: '',
                    reason: '',
                    department: '',
                    inviter: '',
                    startTime: '',
                    endTime: ''
                },

            }
        },
        methods: {
            handleUnreviewedClick: function ()
            {
                this.showTable = true;
                this.showTable1 = true;
            },
            handleDelete(visitorPhone) {
                //删除历史记录方法
                const index = this.tableData.findIndex(data => data.visitorPhone === visitorPhone); // 找到visitorPhone匹配的数据的索引
                if (index !== -1) {
                    this.tableData.splice(index, 1); // 从数组中删除该元素
                }
            },
            handleCheck1(visitorPhone){
                //黑名单中查看方法
                this.dialogVisible1 = true;
                axios.get('/blockinfo', {
                    params: {
                        visitorPhone: visitorPhone
                    }
                })
                    .then(response => {
                        this.content1 = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            handleMove(visitorPhone) {
                //黑名单移除方法
                axios.get('/removeblock', {
                    params: {
                        visitorPhone: visitorPhone
                    }
                })
                    .then(response => {
                        this.content = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            handleCheck(visitorPhone) {
                //查看访客操作
                this.dialogVisible = true;
                // console.log(dialogVisible)
                axios.get('/findinfo', {
                    params: {
                        visitorPhone: visitorPhone
                    }
                })
                    .then(response => {
                        this.content.visitorName = response.data.visitorName;
                        this.content.affiliatedUnit = response.data.affiliatedUnit;
                        this.content.visitreason =response.data.visitreason;
                        this.content.licensePlate=response.data.licensePlate;
                        this.content.accessDetails=response.data.accessDetails;
                        this.content.visitorPhone=response.data.visitorPhone;
                        this.content.inviter=response.data.inviter;
                        this.content. logisticsnum=response.data. logisticsnum;
                        this.content. parkingSpace=response.data. parkingSpace;
                        this.content. blacklist=response.data. blacklist;
                        this.content. visitAreas=response.data. visitAreas;
                        this.content.elsepeople=response.data.elsepeople;
                        this.content.goods=response.data.goods;
                        this.content.idcard=response.data.idcard;
                        // 获得 arriverTime 和 leftTime
                        const arriveTime = response.data.arrivetime;
                        const leftTime = response.data.lefttime;

                        // 计算访问时长
                        const arrive = arriveTime.split(':');
                        const left = leftTime.split(':');

                        const arriveMinutes = parseInt(arrive[0]) * 60 + parseInt(arrive[1]);
                        const leftMinutes = parseInt(left[0]) * 60 + parseInt(left[1]);

                        let visitDuration = (leftMinutes - arriveMinutes) / 60;

                        if (visitDuration % 1 === 0) {
                            visitDuration = visitDuration.toFixed(0);
                        } else {
                            visitDuration = visitDuration.toFixed(2);
                        }

                        // 将访问时长设置到 content 对象中
                        this.content.visitDuration = visitDuration;


                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            handleReviewedClick() {
                // 处理已审核记录标签页点击事件
                console.log('已审核记录标签页被点击了');
            },
            handleBlacklistClick() {
                // 处理黑名单标签页点击事件
                console.log('黑名单标签页被点击了');
            },
            handleApprove(visitorPhone) {
                // console.log('批准点击，访客电话:', visitorPhone);

                // 在这里可以使用点击行的数据，例如将其发送到API，更新Vuex存储等

                axios.get('/vet', {

                    params: {
                        visitorPhone:visitorPhone
                    }
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },
            handleReject(visitorPhone) {
                // 拒绝操作的逻辑
                axios.get('/refuse', {

                    params: {
                        visitorPhone:visitorPhone
                    }
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },
            handleDelay(row) {
                // 延期操作的逻辑
            },
            handleBlacklist(row) {
                function getCurrentFormattedTime() {
                    const currentDate = new Date();
                    const year = currentDate.getFullYear();
                    const month = currentDate.getMonth() + 1;
                    const day = currentDate.getDate();
                    const hours = currentDate.getHours();
                    const minutes = currentDate.getMinutes();
                    const seconds = currentDate.getSeconds();

                    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                }
                const blocktime = getCurrentFormattedTime();

                // 拉黑操作的逻辑
                axios.post('/block', {
                    visitorPhone: row.visitorPhone,
                    visitorName: row.visitorName,
                    affiliatedUnit: row.affiliatedUnit,
                    blocktime: blocktime,
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },
            handleTabClick(tab,event) {
                console.log(tab, event);//xx
                if (tab.name === 'coming') {
                    this.tabname=tab.name;
                    this.showTable0 = true;
                    this.showTable = true;
                    this.showTable1 = false;
                    this.showTable2 = false;
                    this.pagin=true;
                    this.pagin1=false;
                    this.pagin2=false;
                    this.getTableData(this.tabname,1);

                } else if (tab.name === 'accessing') {
                    this.tabname=tab.name;
                    this.showTable0 = true;
                    this.showTable = false;
                    this.showTable1 = true;
                    this.showTable2 = false;
                    this.pagin=false;
                    this.pagin2=true;
                    this.pagin1=false;
                    this.getTableData(this.tabname,1);

                } else if (tab.name === 'history') {
                    this.tabname=tab.name;
                    this.showTable0 = true;
                    this.showTable = false;
                    this.showTable1 = false;
                    this.showTable2 = true;
                    this.pagin=false;
                    this.pagin2=false;
                    this.pagin1=true;
                    this.getTableData(this.tabname,1);

                }
            },
            //后端获取数据
            handlePageChange(page) {
                this.getTableData(this.tabname,page);
            },
            handlePageChange1(page) {
                this. getTableData(this.tabname,page);
            },
            handlePageChange2(page) {
                this.getTableData(this.tabname,page);
            },
            getTableData(tabname,page) {
                axios
                    .get('/visitallinfo', {
                        params: {
                            page: page - 1,
                            pageSize: this.pageSize,
                            status:tabname,
                        }
                    })
                    .then(response => {
                        var tableData = response.data.content;
                        if(tabname==='coming') {
                            this.tableData = tableData;
                        }
                        else if(tabname==='history') {
                            this.tableData2 = tableData;
                        }else if(tabname==='accessing'){
                            this.tableData1 = tableData;
                        }

                        this.total = response.data.totalElements;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            created() {
                this.getTableData();
            },
            getBlockTableData(page) {
                axios
                    .get('/pagesblockall', {
                        params: {
                            page: page-1,
                            pageSize: this.pageSize,
                        }
                    })
                    .then(response => {
                        var tableData = response.data.content;
                        this.tableData2=tableData;
                        this.total = response.data.totalElements;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
        }

    });

</script>
</html>