
<!DOCTYPE html>

<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Example</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        el-aside {
            color: #333;
        }

        el-table-column {
            text-align: center;
        }
        center-label {
            text-align: center;
        }
    </style>
</head>
<body>


<div id="app">

    <el-container style="height: 500px; border: 1px solid #eee">

        <el-container>
            <el-header style="text-align: right; font-size: 10px">
                <el-tabs v-model="tabledata" type="border-card" @tab-click="handleTabClick">
                    <el-tab-pane label="待审核记录" name="unreviewed" ></el-tab-pane>
                    <el-tab-pane label="已审核记录" name="reviewed"></el-tab-pane>
                    <el-tab-pane label="黑名单" name="blacklist"></el-tab-pane>
                </el-tabs>
                <span>欢迎，xx（工号：xxxxx）</span> <!-- 这里的xx和xxxxx应该由后端数据读取得到 -->
            </el-header>




            <el-main>
                <label>访客姓名：<input v-model="visitor.name" /></label>
                <label>访客手机：<input v-model="visitor.phone" /></label>
                <label>访客事由：<input v-model="visitor.reason" /></label><br/>
                <label>访客部门：<input v-model="visitor.department" /></label>
                <label>邀约人：<input v-model="visitor.inviter" /></label>
                <label>访客时间：
                    <input type="datetime-local" v-model="visitor.startTime" />
                    至
                    <input type="datetime-local" v-model="visitor.endTime" />
                </label><br/>


                <el-table  v-if="showTable1" :data="tableData" :columns="tableColumns">
                    <el-table-column prop="number" label="序号1" width="60">
                    </el-table-column>
                    <el-table-column prop="visitplace" label="到访区域" width="100">
                    </el-table-column>
                    <el-table-column prop="visitreason" label="访问事由" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="transport" label="通行方式" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="name" label="访客姓名" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="phonenumber" label="电话" width="160">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="applicationtime" label="申请时间" width="160">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="duration" label="访问时长" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="control" label="管控" width="80">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="blacklist" label="黑名单" width="80">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="operation" :label-class-name="'center-label'" label="操作" >
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <el-button type="primary" icon="el-icon-check" @click="handleApprove(scope.row)" size="small">批准</el-button>
                            <el-button type="danger" icon="el-icon-close" @click="handleReject(scope.row)" size="small">拒绝</el-button>
                            <el-button type="danger" icon="el-icon-circle-close" @click="handleBlacklist(scope.row)" size="small">拉黑</el-button>
                        </div>

                    </el-table-column>

                </el-table>
                <el-pagination
                        @current-change="handlePageChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 50, 100]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                :total="totalItems"
                />
                <el-table  v-if="showTable" :data="tableData1" :columns="tableColumns">
                    <el-table-column prop="number" label="序号2" width="60">
                    </el-table-column>
                    <el-table-column prop="visitplace" label="到访区域" width="100">
                    </el-table-column>
                    <el-table-column prop="visitreason" label="访问事由" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="transport" label="通行方式" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="name" label="访客姓名" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="phonenumber" label="电话" width="160">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="applicationtime" label="申请时间" width="160">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="duration" label="访问时长" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="control" label="管控" width="80">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="blacklist" label="黑名单" width="80">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="operation" :label-class-name="'center-label'" label="操作" >
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <el-button type="primary" icon="el-icon-check" @click="handleApprove(scope.row)" size="small">批准</el-button>
                            <el-button type="danger" icon="el-icon-close" @click="handleReject(scope.row)" size="small">拒绝</el-button>
                            <el-button type="danger" icon="el-icon-circle-close" @click="handleBlacklist(scope.row)" size="small">拉黑</el-button>
                        </div>
                    </el-table-column>

                </el-table>
                </el-table>
                <el-table :data="tableData2" :columns="tableColumns">
                    <el-table-column prop="number" label="序号3" width="60">
                    </el-table-column>
                    <el-table-column prop="visitplace" label="到访区域" width="100">
                    </el-table-column>
                    <el-table-column prop="visitreason" label="访问事由" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="transport" label="通行方式" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="name" label="访客姓名" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="phonenumber" label="电话" width="160">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="applicationtime" label="申请时间" width="160">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="duration" label="访问时长" width="100">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="control" label="管控" width="80">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="blacklist" label="黑名单" width="80">
                    </el-table-column>
                    </el-table-column>
                    <el-table-column prop="operation" :label-class-name="'center-label'" label="操作" >
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <el-button type="primary" icon="el-icon-check" @click="handleApprove(scope.row)" size="small">批准</el-button>
                            <el-button type="danger" icon="el-icon-close" @click="handleReject(scope.row)" size="small">拒绝</el-button>
                            <el-button type="danger" icon="el-icon-circle-close" @click="handleBlacklist(scope.row)" size="small">拉黑</el-button>
                        </div>
                    </el-table-column>

                </el-table>


            </el-main>
        </el-container>
    </el-container>




</div>



</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                showTable:true ,
                showTable1:false ,
                tableData: [
                    { number: '1', visitplace: '志明屋1', visitreason: '志明需要打扫' },
                    { number: '2', visitplace: '天赐屋', visitreason: '天赐需要大坝'},
                ],
                tableData1:[
                    { number: '1', visitplace: '志明屋2', visitreason: '志明需要打扫' },
                    { number: '2', visitplace: '天赐屋', visitreason: '天赐需要大坝'},
                ],
                tableData2:[
                    { number: '1', visitplace: '志明屋3', visitreason: '志明需要打扫' },
                    { number: '2', visitplace: '天赐屋', visitreason: '天赐需要大坝'},
                ],
                visitor: {
                    name: '',
                    phone: '',
                    reason: '',
                    department: '',
                    inviter: '',
                    startTime: '',
                    endTime: ''
                },

            }
        },
        methods: {
            handleUnreviewedClick: function ()
            {
                this.showTable = true;
                this.showTable1 = true;
            },
            handleReviewedClick() {
                // 处理已审核记录标签页点击事件
                console.log('已审核记录标签页被点击了');
            },
            handleBlacklistClick() {
                // 处理黑名单标签页点击事件
                console.log('黑名单标签页被点击了');
            },
            handleApprove(row) {
                // 批准操作的逻辑
            },
            handleReject(row) {
                // 拒绝操作的逻辑
            },
            handleDelay(row) {
                // 延期操作的逻辑
            },
            handleBlacklist(row) {
                // 拉黑操作的逻辑
            },
            handleTabClick(tab,event) {
                console.log(tab, event);//xx
                if (tab.name === 'unreviewed') {
                    this.showTable = true;
                    this.showTable1 = true;
                } else if (tab.name === 'reviewed') {
                    this.showTable = true;
                    this.showTable1 = false;
                } else if (tab.name === 'blacklist') {
                    this.data = this.tableData2;
                }
            }
        }

    });

</script>
</html>